<ion-view view-title="dash">
  <ion-content class="padding" style="padding: 15px 0;">
    <div class="row all_gig">
      <div class="col">
        <a ng-href="/#/tab/all">All</a>
      </div>
      <div class="col">
        <a class="all_gig_active" ng-href="/#/tab/mygigs">My Gigs</a>
      </div>
      <div class="col">
        <a ng-href="/#/tab/mybids">My Bids</a>
      </div>
      <div class="col">
        <img src="img/search.svg">
      </div>
    </div>
   <div class="row browse_row" >
    <div class="col col-20" style="padding: 0;">
      <img src="img/person1.jpg" class="browse_list_img" >
      <h2>Hemlock</h2>
    </div>
    <div class="col col-80"> 
    
      <h2 style="display: inline-block;">Photographer for family portrait</h2>
      <h2 style="display: inline-block;float:right;margin-top: 0;">$100</h2>
      <hr class="browse_hr">
      <p class="browse_p">Need someone to take a family portrait. Thinking of outdoor, fun shoot but suggestions are welcomed.</p>
      <img src="img/fb.jpg">
      <img src="img/google.jpg" style="margin-left: 5px;">
      <img src="img/trash.png" class="trash">
    </div>
   </div>
  </ion-content>
</ion-view>